.presModule {
    width: 100%;
    padding: 72px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    &__infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 32px;
        gap: 32px;
        &__img {
            text-align: center;
        }
        & ul {
            list-style-image: url("../../../assets/bulletIcon.svg");
            & li {
                margin-bottom: 16px;
            }
        }
    }
}

.first {
    grid-area: 1 / 1 / 2 / 2;
}

.second {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    & img {
        justify-self: right;
    }
}

.background {
    box-sizing:border-box;
    background-color: #F8F8FA;
    width: 100vw;
    background-position: center;
    padding: 72px calc(50vw - 657px);
}